html, body {
    position: absolute;
    width: 1920px;
    height: 1080px;
    margin: 0;
    overflow: hidden
}

#screen {
    position: absolute;
    width: 1920px;
    height: 1080px;
    margin: 0;
}

.character {
    position: absolute;
    width: 250px;
    bottom: -75px;
    opacity: 0.2;
    transition: all 0.1s linear;
}

.offline {
    visibility: hidden;
}

.speaking {
    opacity: 1;
    bottom: 0px;
}